<p *ngIf="!vehiclesOwners"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehiclesOwners">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Vin</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let vehiclesOwner of vehiclesOwners.data">
        <tr *ngFor="let vehicles of vehiclesOwner['vehicles']; let i= index">
            <td *ngIf="i==0" [attr.rowspan]="vehiclesOwner['vehicles'].length">{{ vehiclesOwner['owner'].name }}</td>
            <td *ngIf="i==0" [attr.rowspan]="vehiclesOwner['vehicles'].length">{{ vehiclesOwner['owner'].surname }}</td>
            <td *ngIf="i==0" [attr.rowspan]="vehiclesOwner['vehicles'].length"><img [src]="vehiclesOwner['owner'].foto" width="auto" height="100"/></td>
            <td>{{ vehicles.make }}</td>
            <td>{{ vehicles.model }}</td>
            <td>{{ vehicles.year }}</td>          
            <td [ngStyle]="{'background-color': vehicles.color}">    </td>
            <td>{{ vehicles.vin }}</td>
            <td><img [src]="vehicles.foto" width="auto" height="100"/></td>
        </tr>
        </ng-container>  
  </tbody>
</table>