<p *ngIf="!vehiclesOwners"><em>Loading...</em></p>
<header>
  <h1>User list </h1>
</header>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehiclesOwners">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Make</th>
      <th>Owner photo</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let vehiclesOwner of vehiclesOwners.data">
      <tr *ngIf="vehiclesOwner['owner']" [routerLink]="['/vehiclestracking', vehiclesOwner['userid']]" routerLinkActive="active">
        <td>{{ vehiclesOwner['owner'].name }}</td>
        <td>{{ vehiclesOwner['owner'].surname }}</td>
        <td>{{ vehiclesOwner['vehicles'].length }}</td>
        <td><img [src]="vehiclesOwner['owner'].foto" width="auto" height="150"/></td>
      </tr> 
    </ng-container>   
  </tbody>
</table>
